<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  color="">
    <ion-grid>
      <ion-row color="" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 id="creatucuenta">Crea tu cuenta!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  [(ngModel)]="nombre"  type="text" placeholder="Nombre" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input [(ngModel)]="apellido"  type="text" placeholder="Apellido" required></ion-input>
            </ion-item>
            <br>
            <div padding>
              <ion-button  size="large" color="danger" (click)="enviarinfo()" type="submit"  expand="block">Enviar</ion-button>
            </div>
            <br>
            <ion-item>
              <ion-input [(ngModel)]="usuario"  type="text" placeholder="Usuario" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input [(ngModel)]="clave"  type="password" placeholder="Clave" required></ion-input>
            </ion-item>
            <br>
          </div>
          <div padding>
            <ion-button  size="large" color="danger" (click)="Cuentaenviar()" type="submit"  expand="block">Enviar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<ion-grid>
<ion-row color="" justify-content-center>
  <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <ion-button [routerLink]="['']" id="botonhome" fill="solid" color="medium" shape="round" size="large"><ion-icon name="home-outline"></ion-icon></ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>