<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="Titulop">
      Bienvenido/a
    </ion-title>
  </ion-toolbar>
</ion-header>

 

<ion-content [fullscreen]="true">
  <h1 id="nombremarca">Postres en Casa</h1> 
<ion-img src="https://static.vecteezy.com/system/resources/thumbnails/002/454/866/small/coffee-cup-with-heart-doodle-style-icon-free-vector.jpg"></ion-img>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
<br>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
<br><br>
    <ion-row>
      <ion-col>
        <ion-button  [routerLink]="['']" color="danger" expand="block ">Ingresar</ion-button>
        

        <br>
        <ion-button [routerLink]="['register']" type="submit" color="danger" expand="block">Registrate</ion-button>
        <br><br>
      </ion-col>
    </ion-row>
  </form>

</ion-content>