<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="Titulotab2" size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <img id="Fotohome" height="48%" width="100%" src ="https://th.bing.com/th/id/R.48d33cf07e251a8caf10145b17d8ca2a?rik=LyEtl345JQI5BQ&pid=ImgRaw&r=0" alt="">
  
    </ion-content>
  
  
</ion-content>
