.Titulo1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: black;
    
}
ion-content.background{
    --background: url(https://i.pinimg.com/564x/9b/e3/22/9be32247a7488ad9431b2a0781e06f16.jpg) 0 0/100% 100% no-repeat;
}