<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="Titulop">
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="Titulotab3" size="large"> Mi Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
<br><br><br><br>
  <IonContent>
    <IonGrid>

      <IonRow>
        <form action="/action_page.php">
          <label id="Tab3info" for="  fname"> Usuario          :  </label>
          <input type="text" id="fname" name="fname"><br><br><br><br>
          <label id="Tab3info" for="lname"> E-Mail                  :         </label>
          <input type="text" id="lname" name="lname"><br><br><br><br>
          <label id="Tab3info" for="fname"> Contraseña:</label>
          <input type="text" id="fname" name="fname"><br><br><br><br>
          
        </form>
        
      
      
      <ion-button id="CambiarContraBoton" size="small" shape="round" color="primary">Cambiar Contraseña</ion-button>

     

