<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="Titulop">
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="usuariocentro">
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header >
      <ion-label>
        <ion-icon name="person-outline" size="large"></ion-icon>
      </ion-label>
     
    </ion-list-header>
    <br>
    <br>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>Nombre: </div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <div>Apellido: </div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <div>Usuario: </div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
      <br>
      <br>
    
      <ion-row>
        <ion-col>
          <div>Clave: </div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
    

      <br>
      <br>
      <br>
      <br>
      
      
        <ion-row>
          <ion-col offset-4>
            <div><ion-button shape="round" size="medium" color="medium" class="botones">Olvidé mi Clave</ion-button></div>
          </ion-col>
          <ion-col>
            <div><ion-button type="sumbit" shape="round" size="medium" color="medium" class="botones"><ion-icon name="checkmark-outline"></ion-icon></ion-button></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>









</ion-content>


     

