<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="tituloprincipal">
      Tus Postres
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="usuariocentro">
  
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="https://thumbs.dreamstime.com/b/caf%C3%A9-de-una-sola-mano-con-malvavisco-en-estilo-doodle-contorno-negro-aislado-fondo-blanco-elemento-corte-para-tarjeta-pancarta-165722215.jpg"/>
        <h2>¡Bienvenido!</h2>
        <p>En <strong>Postres en Casa</strong> consideramos que la merienda es un momento especial del día, ya que es allí donde podemos compartir con nuestras familias. Es por ello, que creamos esta app, en donde encontrarás todo tipo de recetas para tus meriendas.</p>
        <p>¡Deslizá para ver más!</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://thumbs.dreamstime.com/b/recorte-de-ilustraci%C3%B3n-vectorial-pastel-con-estilo-dibujado-mano-negra-aislado-en-fondo-blanco-165764708.jpg"/>
      <h2>¿Quiénes Somos?</h2>
      <p><strong>Postres en Casa</strong> no es más que una aplicación desarrollada pura y exclusivamente para el usuario, nuestro principal objetivo es alentarte a merendar rico y a compartir tus recetas con la comunidad.</p>
      <p>¡Compartir tus recetas es muy fácil! Deslizá para entererte como!</p>
    </ion-slide>

    <ion-slide>
      <img src="https://st2.depositphotos.com/25016598/45671/v/600/depositphotos_456710414-stock-illustration-bitten-piece-of-chocolate-outline.jpg"/>
      <h2>¿Cómo compartir recetas?</h2>
      <p>Si querés compartir tus recetas con el resto de la comunidad, lo único que tenés que hacer, es presionar el simbolo + en la sección recetas, en dicha sección, no solo podrás compartir, sino que podrás ver el lo que comparten los usuarios. </p>
      <p>Deslizá para aprender más</p>
    </ion-slide>

    <ion-slide>
      <img src="https://media.istockphoto.com/vectors/simple-ice-cream-icon-in-a-cone-vector-id1249648681?k=20&m=1249648681&s=170667a&w=0&h=ztr8J10cX0_4OyLujEmyZK44Fmt--3A7m0gZtbO1U5k="/>
      <h2>¿Listo para cocinar?</h2>
      <p>Ahora que aprendiste como desarrollarte en esta aplicación, estás listo para usarla. Podrás comenzar tu experiencia clickeando el boton de debajo. Recordá que siempre podrás consultar tus datos en la sección perfil.</p>
      <ion-button [routerLink]="['/registerinfo']" fill="outline" color="danger" shape="round" size="medium"  class="botonesmas">Registrate ya!</ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
  
